* {
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgba(241, 238, 238, 0.827);
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  border: solid 1px salmon;
  background: rgb(255, 254, 254);
}
